<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">WikiMaps</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="btnMaps" href="#">Maps <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link users" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <% if (name) { %>
        	<form action="/logout" method="POST">
        		<button class="btn btn-warning my-2 my-sm-0" type="submit">Logout</button>
        	</form>
        <% } else { %>
			<a class="btn btn-success my-2 my-sm-0" href="/login">Login</a>
        <% } %>
      </div>

    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-4 hidden-xs-down bg-faded sidebar">
        <!-- Start maps sidebar -->
        <div class="maps-sidebar">
          <header>Available maps</header>
          <form class="form-group">
            <input class="form-control" type="text" placeholder="Search" id="mapSearch">
          </form>
          <div class="map-item-group">
            <div class="map-item">
              <span class="map-title">Great restaurants</span>
              <div class="map-subitem">
                <span class="map-description">This is the description</span><br>
                <span class="map-author">Author</span>
              </div>
            </div>    
          </div>
          <button id="teste">Place Markers</button>
      
          Create new list with the selected points
          <form action="/lists" method="POST" id="addListForm">
            <input type="text" placeholder="List name" name="listname">
            <input type="text" placeholder="Description" name="description">
            <input type="submit" value="Create list">
          </form>
          <!-- Hardcoded -->
          <form action="/lists/10/locations" method="POST" id="saveLocationsToDB">
            <button>Save locations to database</button>
          </form>
        </div>
          
          <!-- End Maps -->
          <!-- Start Users -->


          <!-- End Users -->


        </nav>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-4 mapDiv">
            <div id="map"></div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="styles/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/script.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVHmn6DhvrQpi8L5_XSh-gsgppzy7CqQ0&callback=myMap">
    </script>


  </body>
</html>