<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/login.css" rel="stylesheet">
  </head>

  <body>

    <div class="container col-xxs-8 offset-xxs-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4">

      <form action="/login" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Log in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="email" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <input class="btn btn-lg btn-primary btn-block" type="submit">Sign in</input>
        <a href="/register">Not yet registered? Click here</a>
       </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>